<!--corrected typos using a fallback after the penguin var.-->



    /* change code below */
    background: var(--pengiun-skin, black);
    /* change code above */

    width: 50%;
    height: 45%;
    border-radius: 70% 70% 60% 60%;
  }

  .penguin-bottom {
    top: 40%;
    left: 23.5%;

    /* change code below */
    background: var(--pengiun-skin, black);
    /* change code above */
